{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load mptt_tags %}

{% block title %}
    Detail
{% endblock %}

{% block content %}
    <h3>{{ blog.title }}</h3>
    <span class="fw-bold"><i class="bi bi-person"></i> {{ blog.author }}</span>
    &nbsp;
    |
    &nbsp;
    <i class="bi bi-tags-fill"></i>
    <a href="{% url 'home_filter' blog.type %}"><span
            class="badge rounded-pill text-bg-secondary"> #{{ blog.type }}</span></a>
    <p class="my-5">
        {{ blog.content|safe }}
    </p>
    <p class="float-end">{{ blog.content|wordcount }} words</p>
    <p class="my-2"><i class="bi bi-calendar2-date"></i> {{ blog.created_at|date:"D d M Y ⏰ f A" }} </p>
    <p class="my-4 fs-5">
        <a href="{% url 'blog_is_liked' blog.id %}" class="text-danger">{% if request_user_is_liked %}
            <i class="bi bi-heart-fill"></i>{% else %}<i class="bi bi-heart"></i>{% endif %}</a>
        {{ user_likes_count }} likes &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="ml-3"><i class="bi bi-chat-text"></i> {{ comments.count }} comments </span>

    </p>
    <p class="fs-3">Write a comment</p>
    <hr>
    <!-- Comments -->
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-12">
            <div class="card text-body" style="border: none;">
                <div class="card-body" style="padding: 20px 0;">
                    <div class="grid">
                        <div class="row">
                            <div class="col-1  d-flex justify-content-center">
                                <img
                                        class="rounded-circle shadow-1-strong"
                                        src="{{ user.profile.image.url }}" alt="rasm"
                                        width="60"
                                        height="60"
                                        style="object-fit: cover">
                            </div>
                            <div class="col-11">
                                <form method="POST" action="{% url 'detail' blog.id %}">
                                    {% csrf_token %}
                                    {{ comment_form|crispy }}
                                    <button type="submit" class="btn btn-primary float-end">Post comment</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <p class="fs-3"> All Comments {{ comments.count }}</p>
                <hr>

                <div class="" style="height: 400px; overflow-y: auto; ">
                    {% if comments %}
                        {% recursetree comments %}
                            <div class="comment-box" style="margin-left: {{ node.level|add:0 }}0px;">
                                <div class="grid">
                                    <div class="row">
                                        <div class="col-1 d-flex flex-row-reverse">
                                            <img src="{{ node.user.profile.image.url }}" alt=""
                                                 style="width: 60px; height: 60px; object-fit: cover; border-radius: 50%;">

                                        </div>
                                        <div class="col-11 d-flex flex-row">
                                            <div>
                                                <p><strong>{{ node.user }}</strong>: </p>
                                                <p>{{ node.message }}
                                                    <a class="text-primary"
                                                       href="{% url 'reply_comment' blog.id node.id %}">Reply</a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                {% if not node.is_leaf_node %}
                                    {{ children }}
                                {% endif %}
                            </div>
                        {% endrecursetree %}
                    {% else %}
                        <p class="fs-5">Hozircha sharhlar mavjud emas!</p>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>


{% endblock %}